/* loading page */

#loading.fade {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  background-image: url(../img/Spin.gif);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 50%;
  opacity: 1;
  transition: opacity .4s cubic-bezier(.23, 1, .32, 1);
  z-index: 99999;
}

/* p */

p {
  font-size: 18px;
  line-height: 1.6em;
  letter-spacing: 0.02em;
  font-family: 'Noto Sans TC', sans-serif;
}

/* h1 */

#BannerTitle > div > h2 > p {
  font-size: 60px;
}

/* h2 */

#Test1image > div > div > div > div.blockContent > h2 > div > span > p,
#Test2image > div > div > div > div.blockContent > h2 > div > span > p {
  font-size: 40px;
}

/* h3 */

#Test1Pagetitle > div > div > div > div > h2 > div > span > p,
#Test2Pagetitle > div > div > div > div > h2 > div > span > p {
  font-size: 28px;
}

/* sidebar */

#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  left: -500px;
  width: 250px;
  height: 100%;
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  background: rgba(1, 51, 83, .5); /*sidebar底色在此修改*/
  /*border-left:1px solid rgba(255,255,255,.1)*/
}

.sidebar-nav {
  /*background:#003151;*/
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 8px;
  padding-left: 40px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: rgb(1, 51, 83);
  background: rgba(153, 236, 243, .4)
}

.sidebar-nav li a, .sidebar-nav li a:focus {
  text-decoration: none
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.1rem;
  /*background:;*/
  height: 80px;
  line-height: 60px;
  padding-top: 10.5px;
  padding-bottom: 1px;
  padding-left: 40px;
  margin-top: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #99ECF3;
  font-weight: bold;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: rgb(1, 51, 83);
  background: 0 0
}

/* hamburger bar */

.menu-toggle {
  position: fixed;
  width: 50px;
  height: 50px;
  text-align: center;
  color: rgb(1, 51, 83);
  background: transparent;
  line-height: 50px;
  z-index: 999;
  cursor: pointer;
  margin-top: 0px;
  margin-left: 0px;
}


a:not([href]) {
  text-decoration: none;
}

.landingPage > .mainContainer {
  padding: 0px 0px;
}

/* remove nav bar */
.fixedHeaderContainer {
  display: none;
}

.singleRowMobileNav.navPusher {
  padding-top: 0px;
}

/* Adjust Banner img */

#BannerTitle {
  display: block;
  position: relative;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-image: url("../img/pc.jpg");
  background-size: 100%;
  background-position: left top;
  max-height: 1360px;
}

/* Dialog size */

.textImg {
  width: 15%;
}

/* character 1*/

.c1 {
  position: relative;
  margin-left: -3.1%;
  margin-top: 17.5%;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  width: 20.5%;
}

.c1:hover {
  opacity: 1;
}

.c1c {
  position: relative;
  margin-left: 30%;
  margin-bottom: 28%;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

/* character 2*/

.c2 {
  position: relative;
  margin-left: 0.69%;
  margin-bottom: 30.3%;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  width: 15.9%;
}

.c2:hover {
  opacity: 1;
}

.c2c {
  position: relative;
  margin-left: -32%;
  margin-bottom: 37%;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
}

/* character 3*/

.c3 {
  position: relative;
  margin-left: -27.8%;
  margin-bottom: 22%;
  cursor: pointer;
  z-index: 4;
  opacity: 0;
  width: 20%;
}

.c3:hover {
  opacity: 1;
}

.c3c {
  position: relative;
  margin-left: -31%;
  margin-bottom: 35%;
  cursor: pointer;
  z-index: 4;
  opacity: 0;
}

/* character 4*/

.c4 {
  position: relative;
  margin-left: -4.1%;
  margin-bottom: 18%;
  cursor: pointer;
  z-index: 5;
  opacity: 0;
  width: 19.4%;
}

.c4:hover {
  opacity: 1;
}

.c4c {
  position: relative;
  margin-left: 10%;
  margin-bottom: 42%;
  cursor: pointer;
  z-index: 5;
  opacity: 0;
}

/* character 5*/

.c5 {
  position: relative;
  margin-left: -34.3%;
  margin-bottom: 1%;
  cursor: pointer;
  z-index: 6;
  opacity: 0;
  width: 20%;
}

.c5:hover {
  opacity: 1;
}

.c5c {
  position: relative;
  margin-left: -50%;
  margin-bottom: 27%;
  cursor: pointer;
  z-index: 6;
  opacity: 0;
  width: 20%;
}

/* Adjust Banner test */

.Feature {
  width: 50%;
  margin: auto;
  position: absolute;
  bottom: 8%;
  left: 25%;
  color: white;
  z-index: 7;
}

/* Make paragraph center */

.blockContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gridBlock > * {
  margin: 0px;
}

/* Extend Test1image width*/
#Test1image h2 {
  width: 110%;
}

/* Adjust Pagetitle */

.container.paddingTop {
  padding-top: 50px;
}

.container.paddingBottom {
  padding-bottom: 50px;
}

#Test1Page {
  padding-top: 0px;
}

#Test2Page {
  padding-top: 0px;
}

/* adjust video */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0px;
  overflow: hidden;
  margin: 50px;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Scroll */

#scroll1, #scroll2 {
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-image: url("../img/pc.jpg");
  background-size: 100%;
  background-position: left top;
  background-attachment: fixed;
  height: 1000px;
}


/* Adjust footer  */
/* Adjust footer company */
#company {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 20px;
}

#footer > section.sitemap > div:nth-child(4) {
  margin-top: 30px;
  margin-left: 30px;
}

/* Adjust footer team */
#team {
  display: flex;
  color: white;
  margin-top: 20px;
}

h5 {
  font-size: 16px;
}

#footer > section.sitemap > div:nth-child(2) {
  margin-top: 30px;
  margin-left: 30px;
}

@media only screen and (min-width: 320px) and (max-width: 735px) {

  /* Adjust hamburger bar */
  #sidebar-wrapper {
    top: 0px;
    z-index: 1000;
  }

  .menu-toggle {
    top: 0px;
    width: 100%;
    background-color: white;
  }

  i {
    float: left;
    margin: 20px;
  }

  .mainContainer {
    margin-top: 50px;
  }

  /* Adjust Banner */
  /* Adjust words */
  h2 {
    margin-bottom: 0px;
  }

  /* All div's padding */
  .container.paddingTop {
    padding-top: 0px;
  }

  .container.paddingBottom {
    padding-bottom: 50px;
  }

  /* Adjust Test1img & Test1img */
  #Test1image h2 {
    width: 100%;
  }

  .imageAlignSide .blockImage {
    display: block;
  }

  .imageAlignRight .blockImage, .imageAlignLeft .blockImage {
    margin: 0px;
  }

  #Test1image > .wrapper > .gridBlock > .blockElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  #Test2image > .wrapper > .gridBlock > .blockElement {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
  }

  .imageAlignSide .blockImage {
    flex: 0;
  }

  /* Test1Pagetitle & Test2Pagetitle */
  #Test1Pagetitle.container.paddingBottom, #Test2Pagetitle.container.paddingBottom {
    padding-bottom: 0px;
  }

  /* Scroll */
  #scroll1, #scroll2 {
    background-attachment: initial;
    height: 0px;
    min-height: 300px;
  }

  /* video margin */
  .video-container {
    margin: 0px;
  }

  /* Adjust footer */
  #footer > section.sitemap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  /* Adjust footer PTS block */
  #footer > section.sitemap > div:nth-child(2) {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 736px) and (max-width: 1024px) {

  /* Adjust Banner text position & width */
  .Feature {
    width: 80%;
    margin: auto;
    position: absolute;
    bottom: 0px;
    left: 10%;
    color: white;
    z-index: 7;
  }

  /* All div's padding */
  .wrapper {
    padding: 40px;
  }

  .container.paddingBottom {
    padding-bottom: 0px;
  }

  .container.paddingTop {
    padding-top: 0px;
  }

  /* hamburger bar */
  .mainContainer {
    margin-top: 50px;
  }

  .menu-toggle {
    top: 0px;
    width: 100%;
    background-color: white;
  }

  i {
    float: left;
    margin: 20px;
  }

  /* Test1image & Test2image typeset */
  #Test1image h2 {
    width: 100%;
  }

  #Test1image > .wrapper > .gridBlock > .blockElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  #Test2image > .wrapper > .gridBlock > .blockElement {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
  }

  .imageAlignSide .blockImage {
    flex: 0;
  }

  #Test1image > .wrapper, #Test2image > .wrapper {
    padding-left: 50px;
  }

  /* Adjust img */
  .imageAlignRight .blockImage {
    margin-left: 0px;
  }

  .imageAlignLeft .blockImage {
    margin-right: 0px;
  }


  /* Adjust page title & text */
  #Test1Pagetitle > .wrapper, #Test2Pagetitle > .wrapper {
    padding-bottom: 0px;
    padding-left: 70px;
  }

  #Test1Page > .wrapper, #Test2Page > .wrapper {
    padding-top: 0px;
  }

  #Test1Page > .wrapper {
    padding-bottom: 0px;
  }

  /* Scroll */
  #scroll1, #scroll2 {
    background-attachment: initial;
    min-height: 600px;
    height: 0px;
  }

  /* Adjust video margin */
  .video-container {
    margin: 0px;
  }

  /* Adjust footer */
  #footer {
    padding: 30px;
  }
}
