/* your custom css */

#loading.fade {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-image: url(../img/Spin.gif);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 50%;
    opacity: 100;
    transition: opacity .4s cubic-bezier(.23,1,.32,1);
    z-index: 99999;
}

#sidebar-wrapper{
    position:fixed;
    z-index:2;
    left: -500px;
    width:250px;
    height:100%;
    -webkit-transition:all .4s ease 0s;
    transition:all .4s ease 0s;
    -webkit-transform:translateX(250px);
    transform:translateX(250px);
    background:rgba(1,51,83,.5);/*sidebar底色在此修改*/
    /*border-left:1px solid rgba(255,255,255,.1)*/
}

.sidebar-nav{
    /*background:#003151;*/
    position:absolute;
    top:0;
    width:250px;
    margin:0;
    padding:0;
    list-style:none
}
.sidebar-nav li.sidebar-nav-item a{
    display:block;
    text-decoration:none;
    color:#ffffff;
    padding:8px;
    padding-left:40px;
}
.sidebar-nav li a:hover{
    text-decoration:none;
    color:rgb(1,51,83);
    background:rgba(153,236,243,.4)
}
.sidebar-nav li a,.sidebar-nav li a:focus{
    text-decoration:none
}
.sidebar-nav>.sidebar-brand{
    font-size:1.1rem;
    /*background:;*/
    height:80px;
    line-height:60px;
    padding-top:10.5px;
    padding-bottom:1px;
    padding-left:40px;
    margin-top:60px;
}
.sidebar-nav>.sidebar-brand a{
    color:#99ECF3;
    font-weight:bold;
}
.sidebar-nav>.sidebar-brand a:hover{
    color:rgb(1,51,83);
    background:0 0
}

.menu-toggle{
    position:fixed;
    width:50px;
    height:50px;
    text-align:center;
    color:rgb(1,51,83);
    background:transparent;
    line-height:50px;
    z-index:999;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 0px;
}

.menu-toggle:hover{
    background:transparent;
}


a:not([href]) {
    text-decoration: none;
}

.landingPage > .mainContainer {
    padding: 0px 0px;
}

/* remove nav bar */
.fixedHeaderContainer {
    display: none;
}

.singleRowMobileNav.navPusher {
    padding-top: 0px;
}

/* adjust video */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0px;
    overflow: hidden;
    margin: 80px;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* adjust BannerTitle */
body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(1) {
    padding: 0px;
}

body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(1) > div > div > div > div > h2 > div > span > p {
    font-size: 40px;
    letter-spacing: 30px;
}

/* Adjust Banner padding */
body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(2) {
    display: flex;
    padding-top: 10px;
}

body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(2) > div > div {
    display: flex;
    justify-content: center;
}

/* Adjust Banner img */

img {
    max-width: 60%;
}

body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(2) > div > div > div:nth-child(1) > div.blockImage {
    margin: 0px;
}

body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(2) > div > div > div:nth-child(2) > div.blockImage {
    margin: 0px;
}



/* Adjust Banner img & text */
body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(2) > div > div > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(2) > div > div > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}



/* Adjust Test1  text */

body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(4) > div > div > div > div.blockContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* Adjust Test2 text  */

body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(8) > div > div > div > div.blockContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Adjust footer  */
/* Adjust footer company */
#company {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 20px;
}

#footer > section.sitemap > div:nth-child(4) {
    margin-top: 30px;
    margin-left: 30px;
}

/* Adjust footer team */
#team {
    display: flex;
    color: white;
    margin-top: 20px;
}

h5 {
    font-size: 16px;
}

#footer > section.sitemap > div:nth-child(2) {
    margin-top: 30px;
    margin-left: 30px;
}

/* Adjust Test1Pagetitle */
body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(6) {
    padding: 50px;
}


body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(6) > div {
    margin: 0px;
    padding: 0px;
}

body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(6) > div > div > div > div > h2 > div > span > p {
    font-size: 37px;
    padding-left: 70px;
}

body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(6) > div > div {
    display: flex;
    justify-content: flex-start;
}

/* Adjust Test1Page */
body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(7) {
    padding-bottom: 100px;
    padding-top: 20px;
}

/* Adjust Test2Pagetitle */
body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(10) {
    padding: 50px;
}

body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(10) > div > div {
    display: flex;
    justify-content: flex-start;
}

body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(10) > div {
    margin: 0px;
}

body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(10) > div > div > div > div > h2 > div > span > p {
    font-size: 37px;
    padding-left: 70px;
}


/* Adjust Test2Page */
body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(11) {
    padding-bottom: 100px;
    padding-top: 20px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 735px) {
    /* Adjust Banner img */
    body{
        background-color: #F7F7F7;
    }
    .landingPage > .mainContainer {
        padding: 0px 0px;
        position: relative;
        top: 28px;
    }
    .imageAlignSide .blockImage {
        display: block;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(1) > div > div > div > div > h2 > div > span > p{
        font-size: 25px;
        letter-spacing: 20px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(2) > div > div > div:nth-child(1) {
        margin-right: 0px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(2) > div > div > div:nth-child(2) {
        margin-left: 0px;
    }
    .mainContainer > div:nth-child(2) > div > div{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    ＃01 > .wrapper > .gridBlock{
        width: 50%;
    }
    #\30 2 > div > div > div{
               display: flex;
               flex-direction: column;
               justify-content: center;
           }
    .imageAlignRight .blockImage {
        margin-left: 0px;
        flex: 0 1 0px;
        max-width: 500px;
    }

    .container .wrapper .alignCenter h2 {
        text-align: center;
    }
    .video-container {
        margin: 0px;
    }

    #\30 3 > div > div > div{
               display: flex;
               flex-direction: column;
               justify-content: center;
           }
    .imageAlignSide .blockImage {
        flex: 0 1 0px;
        max-width: 500px;
    }
    #\30 2 > div > div > div > div.blockContent > h2{
               margin: 0px;
               font-size: 20px;
           }
    .container .wrapper .alignCenter h2 {
        text-align: center;
    }
    .imageAlignLeft .blockImage {
        margin-right: 0px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(6) > div > div > div > div > h2{
        margin: 15px;
    }

    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(6) {
        padding: 0px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(6) > div > div > div > div > h2 > div > span > p {
        margin: auto;
        font-size: 15px;
        padding: 0px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(6) > div > div {
        display: flex;
        justify-content: center;
    }

    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(10) {
        padding: 0px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(10) > div > div > div > div > h2 > div > span > p {
        margin: auto;
        font-size: 15px;
        padding: 0px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(10) > div > div {
        display: flex;
        justify-content: center;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(10) > div > div > div > div > h2{
        margin: 15px;
    }
    #footer > section.sitemap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding-left: 0px;
    }
    #footer > section.sitemap > div:nth-child(2){
        margin-bottom: 40px;
    }
    p{
        font-size: 10px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(1) > div > div > div > div > h2 > div > span > p {
        font-size: 20px;
        letter-spacing: 10px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(7){
        padding: 30px;
        padding-top: 10px;
    }

    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(11){
        padding: 30px;
        padding-top: 10px;
    }
    #sidebar-wrapper{
        top:0px;
        z-index: 1000;
    }
    .menu-toggle {
        top: 0px;
        width: 100%;
        background-color: white;
    }
    i{
        float: left;
        margin: 20px;
    }
}

@media only screen and (min-width : 320px) and (max-width : 736px) {
    /* Adjust Banner img */
    body{
        background-color: #F7F7F7;
    }
    .landingPage > .mainContainer {
        padding: 0px 0px;
        position: relative;
        top: 28px;
    }
    .imageAlignSide .blockImage {
        display: block;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(1) > div > div > div > div > h2 > div > span > p{
        font-size: 25px;
        letter-spacing: 20px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(2) > div > div > div:nth-child(1) {
        margin-right: 0px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(2) > div > div > div:nth-child(2) {
        margin-left: 0px;
    }
    .mainContainer > div:nth-child(2) > div > div{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    ＃01 > .wrapper > .gridBlock{
        width: 50%;
    }
    #\30 2 > div > div > div{
               display: flex;
               flex-direction: column;
               justify-content: center;
           }
    .imageAlignRight .blockImage {
        margin-left: 0px;
        flex: 0 1 0px;
        max-width: 500px;
    }

    .container .wrapper .alignCenter h2 {
        text-align: center;
    }
    .video-container {
        margin: 0px;
    }

    #\30 3 > div > div > div{
               display: flex;
               flex-direction: column;
               justify-content: center;
           }
    .imageAlignSide .blockImage {
        flex: 0 1 0px;
        max-width: 500px;
    }
    #\30 2 > div > div > div > div.blockContent > h2{
               margin: 0px;
               font-size: 20px;
           }
    .container .wrapper .alignCenter h2 {
        text-align: center;
    }
    .imageAlignLeft .blockImage {
        margin-right: 0px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(6) > div > div > div > div > h2{
        margin: 15px;
    }

    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(6) {
        padding: 0px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(6) > div > div > div > div > h2 > div > span > p {
        margin: auto;
        font-size: 15px;
        padding: 0px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(6) > div > div {
        display: flex;
        justify-content: center;
    }

    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(10) {
        padding: 0px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(10) > div > div > div > div > h2 > div > span > p {
        margin: auto;
        font-size: 15px;
        padding: 0px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(10) > div > div {
        display: flex;
        justify-content: center;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(10) > div > div > div > div > h2{
        margin: 15px;
    }
    #footer > section.sitemap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding-left: 0px;
    }
    #footer > section.sitemap > div:nth-child(2){
        margin-bottom: 40px;
    }
    p{
        font-size: 10px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(1) > div > div > div > div > h2 > div > span > p {
        font-size: 20px;
        letter-spacing: 10px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(7){
        padding: 30px;
        padding-top: 10px;
    }

    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(11){
        padding: 30px;
        padding-top: 10px;
    }
    #sidebar-wrapper{
        top:0px;
        z-index: 1000;
    }
    .menu-toggle {
        top: 0px;
        width: 100%;
        background-color: white;
    }
    i{
        float: left;
        margin: 20px;
    }
}

@media only screen and (min-width : 736px) and (max-width: 1024px) {
    .menu-toggle{
        position:fixed;
        width:50px;
        height:50px;
        text-align:center;
        color:rgb(1,51,83);
        background:transparent;
        line-height:50px;
        z-index:999;
        cursor: pointer;
        margin-top: 0px;
        margin-left: 0px;
    }

    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(1) > div > div > div > div > h2 > div > span > p{
        font-size: 30px;
        letter-spacing: 30px;

    }
    .gridBlock > * {
        margin: 0px;
    }

    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(8) > div > div > div > div.blockImage{
        margin: 0px;
        overflow: hidden;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(8) > div > div > div > div.blockImage > img{
        height: 462.44px;
        width: 325px;
        position: relative;
        left:0px;
        margin: 0px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .imageAlignSide .blockImage {
        flex: 0 1 365px;
        max-width: 500px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(8) > div > div > div > div.blockContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(8)  > div > div > div > div.blockContent > h2 > div > span > p{
        font-size: 25px;
    }

    .video-container {
        margin: 30px;
    }
    .nav-footer .sitemap {
        display: flex;
        justify-content: center;
        margin: 0 auto 3em;
    }

    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(7){
        padding: 50px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(11){
        padding: 50px;
    }

    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(6) > div > div > div > div > h2 > div > span > p {
        font-size: 30px;
        padding-left: 70px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(6) {
        padding: 30px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(10){
        padding: 30px;
    }
    body > div.navPusher.singleRowMobileNav > div > div > div:nth-child(10) > div > div > div > div > h2 > div > span > p {
        font-size: 30px;
        padding-left: 70px;
    }
}
